Label {
    /* height: 50; */
}
/* StackLayout {
    border-color: brown;
    border-width: 5;
    padding: 10;
    height: 300;
    width: 100%;
} */

.label1 {
    background-color: aqua;
}
.label2 {
    background-color: rgb(82, 232, 147);
}
.label3 {
    background-color: rgb(251, 112, 221);
}
.label4 {
    background-color: rgb(144, 101, 251);
}

.title {
    color: brown;
    font-size: 30;
    font-weight: bold;
}
