<!-- <Label>Today</Label> -->

<ActionBar title="Today's Challenge">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back">
    </NavigationButton>
    <!--
    NavigationButton Properties
    NAME	TYPE	  DESCRIPTION
    text	string	Gets or sets the text of the action item.
    icon	string	Gets or sets the icon of the action item.

    Events
    NAME	        DESCRIPTION
    loaded	      Emitted when the view is loaded.
    unloaded	    Emitted when the view is unloaded.
    layoutChanged	Emitted when the layout bounds of a view changes due to layout processing.
    -->
</ActionBar>

<Button text="Current Challenge" nsRouterLink='/current-challenge' pageTransition="slideLeft"></Button>
