<!-- <Label>Today</Label> -->

<ActionBar title="Today's Challenge">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back">
    </NavigationButton>

    <!-- <NavigationButton icon="res://menu_white"></NavigationButton> -->
</ActionBar>

<!--  <Button text="Current Challenge" nsRouterLink='/current-challenge' pageTransition="slideLeft"></Button> -->


<RadSideDrawer>

    <StackLayout tkDrawerContent>
      <Button> Today Page</Button>
    </StackLayout>

    <StackLayout tkMainContent>
        <Button text="Current Challenge" nsRouterLink='/current-challenge' pageTransition="slideLeft"></Button>
    </StackLayout>


</RadSideDrawer>
