

<FlexboxLayout flexDirection="column" class="main-container" justifyContent="flex-start">

    <FlexboxLayout class="top-area" flexDirection="row" justifyContent="space-between" alignItems="flex-start">
        <Label class="label2" text="A" textAlignment="center" height="50" width="50"></Label>
        <Label class="label2" text="B" alignSelf="flex-end" textAlignment="center" height="50" width="50"></Label>
        <Label class="label2" text="C" textAlignment="center" height="50" width="50"></Label>
    </FlexboxLayout>

    <FlexboxLayout class="body-area" flexDirection="row">

        <FlexboxLayout class="body-left" flexDirection="column" alignItems="center" justifyContent="space-between">
            <Label class="label2" text="A" textAlignment="center" height="50" width="50"></Label>
            <Label class="label2" text="B" textAlignment="center" height="50" width="50"></Label>
            <Label class="label2" text="C" textAlignment="center" height="50" width="50"></Label>
        </FlexboxLayout>

        <FlexboxLayout class="body-right" flexDirection="column" justifyContent="space-around" alignItems="stretch">
            <Label class="label2" text="A" textAlignment="center" height="50"></Label>
            <Label class="label2" text="B" textAlignment="center" height="50"></Label>
        </FlexboxLayout>

    </FlexboxLayout>

</FlexboxLayout>
